grpcio==1.43.0
grpcio-tools~= 1.30
protobuf==3.19.4
six==1.16.0
timedelta==2020.12.3
timeloop==1.0.2
pytest ~= 5.4
torch ~= 1.10.2
numpy ~= 1.22.1
waiting ~= 1.4.1
pdbpp ~= 0.10.3
requests ~= 2.27.1
scikit-learn ~= 1.0.2
tqdm ~= 4.62.3
